body {
  max-width: 800px;
  text-align: justify;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0px;
}

a {
  color: black;
}

a:visited {
  color: #333;
}

a:hover {
  color: blue;
}

.katex {
  font-size: 1.1em;
}

aside {
  font-style: italic;
  font-size: 16px;
  color: #ccc;
}
